* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 65px;
    background-color: #8fe4f3;
}